@import "tailwindcss";

@theme {
  /* TEGV KURUMSAL RENKLERİ */
  --color-tegv-navy: #003366;
  --color-tegv-orange: #FF8000;
  --color-tegv-light: #F5F7FA;
}

/* Sayfa geçişleri için yumuşaklık */
html {
  scroll-behavior: smooth;
}